<div class="h-screen w-64 bg-[#1e2530] text-gray-300">
  <div class="p-4 [&_.p-panelmenu]:bg-transparent [&_.p-panelmenu]:border-none">
    <p-panelMenu
      [model]="menuItems"
      [multiple]="false"
      class="[&_.p-panelmenu-header-link]:text-slate-400 [&_.p-panelmenu-header-link]:py-3 [&_.p-panelmenu-header-link]:px-4 [&_.p-panelmenu-header-link:hover]:bg-white/5 [&_.p-menuitem-link]:text-slate-400 [&_.p-menuitem-link]:py-3 [&_.p-menuitem-link]:px-4 [&_.p-menuitem-link:hover]:bg-white/5"
    ></p-panelMenu>
  </div>
</div>
