<div class="flex items-center justify-end h-[40px] w-screen bg-surface-900 px-4">
  <div class="flex items-center gap-4">
    <ng-container *ngIf="!(isAuthenticated$ | async)">
      <p-button label="Register" severity="secondary" [text]="true" (onClick)="showRegisterDialog = true"></p-button>
      <p-button label="Login" severity="secondary" [text]="true" (onClick)="showLoginDialog = true"></p-button>
    </ng-container>
    <ng-container *ngIf="isAuthenticated$ | async">
      <p-button label="Logout" severity="secondary" [text]="true" (onClick)="onLogout()"></p-button>
    </ng-container>
  </div>
</div>

<app-register [(visible)]="showRegisterDialog"></app-register>
<app-login [(visible)]="showLoginDialog"></app-login>
