<div class="h-full w-64">
  <div class="p-4">
    <div class="pb-6">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" width="40" height="40" class="inline-block">
        <circle cx="512" cy="512" r="500" fill="green" />
        <g fill="white">
          <circle cx="350" cy="400" r="100" />
          <circle cx="674" cy="400" r="100" />
        </g>
        <g fill="black">
          <circle cx="350" cy="400" r="50" />
          <circle cx="674" cy="400" r="50" />
        </g>
        <path d="M512 500 Q450 650 512 800 Q574 650 512 500" fill="#4d4d4d" />
        <path d="M200 300 Q512 100 824 300" fill="none" stroke="white" stroke-width="50" />
        <path d="M300 700 Q512 900 724 700" fill="none" stroke="white" stroke-width="50" />
      </svg>
      <span class="inline-block pl-4 text-xl font-bold h-10 leading-10 translate-y-1 text-emerald-500"
        >Price Alert</span
      >
    </div>
    <p-panelMenu [model]="menuItems" [multiple]="false" styleClass="[&_.p-menuitem-icon]:mr-2">
      <ng-template #item let-item>
        <a [routerLink]="item.routerLink" class="flex items-center px-4 py-2 cursor-pointer group">
          <i [class]="item.icon + ' text-primary group-hover:text-inherit mr-2'"></i>
          <span class="ml-2">{{ item.label }}</span>
          <i *ngIf="item.items" class="pi pi-angle-down ml-auto text-purple-100"></i>
        </a>
      </ng-template>
    </p-panelMenu>
  </div>
</div>
